html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0F1429 0%, #242B42 50%, #0F1429 100%);
    background-attachment: fixed;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0F1429;
    top: 0;
    position: sticky;
    z-index: 1000;
}

#navigation a{
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#login{
    background-color: #00D9FF;
    color: #0F1429;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#logo{
    color: #B333FF;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

    background: linear-gradient(90deg, #B333FF 0%, #00D9FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* cards */
.game-card p{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
}

.game-card{
    background-color: #0F1429;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    width: 200px;
    max-height: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.game-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.game-card img{
    width: 100%;
    border-radius: 10px;
}

.game-card p{
    margin-top: 10px;
    overflow: hidden;
}

/* category cards */

.category-card{
    background-color: #0F1429;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.category-card img{
    width: 50px;
    margin-right: 10px;
}

.category-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* deal cards */

.deal-card{
    background-color: #0F1429;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    width: 200px;
    max-height: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.deal-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.deal-card img{
    width: 100%;
    border-radius: 10px;
}

main {
    flex: 1;
}

/* footer */

footer{
    text-align: center;
    color: white;
    margin-top: auto;
    background-color: #0F1429;
    padding: 20px;
}
