h1, h3{
    text-align: center;
    color: white;
}

h1{
    margin-top: 30px;
    font-size: 36px;
}

h2{
    color: white;
    margin-top: 40px;
    text-align: center;
}

#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}
#searchbar input{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
#searchbar button{
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #00D9FF;
    color: #0F1429;
    cursor: pointer;
}



#featured-games{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}



#categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}



#weekly-deals{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


